{% extends "base.html" %} 
{% load static i18n %} 
{% block classbody %}landing{% endblock %} 
{% block home %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{% trans "Secret Santa" %}</h2>
        <p>{% trans "Planning a Secret Santa gift" %}
            <br /> {% trans "exchange between friends" %}
            <br /> {% trans "created by" %} <a href="https://sergiormb.github.io/" target="_blank">Sergio Pino</a>.</p>
        <ul class="actions">
            <li><a href="{% url 'group_create' %}" class="button special">{% trans "Create group" %}</a></li>
            <li><a href="{% url 'group_list' %}" class="button fit">{% trans "Join an existing group" %}</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">{% trans "Learn More" %}</a>
</section>
<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>{% trans "Every year, around the Christmas season, people from all over the world exchange gifts" %}</h2>
            <p>{% trans "To keep things interesting, you can randomly assign people to give the gift to others" %}</p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-gift major style1"><span class="label">Lorem</span></span>
            </li>
            <li><span class="icon fa-random major style2"><span class="label">Ipsum</span></span>
            </li>
            <li><span class="icon fa-users major style3"><span class="label">Dolor</span></span>
            </li>
        </ul>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="{% static 'img/pic01.jpg' %}" alt="" /></div>
        <div class="content">
            <h2>{% trans "Create a group" %}</h2>
            <p>{% trans "Create a group and invite the people you want, friends or co-workers" %}</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="{% static 'img/pic02.jpg' %}" alt="" /></div>
        <div class="content">
            <h2>{% trans "Indicate your preferences" %}</h2>
            <p>{% trans "Each person should indicate what type of gifts they prefer" %}</p>
        </div>
    </section>
</section>
<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>{% trans "Secret Santa" %}</h2>
            <p>{% trans "Planning a Secret Santa gift exchange between friends" %}</p>
        </header>
    </div>
</section>
{% endblock %}
